{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transactions') }}
{% endblock %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <div class="transactions container content-body">
        <div class="text-end mb-4">
            <button type="button" class="btn btn-primary uploadFromCsvBtn">
                <i class="bi bi-plus-circle me-1"></i>
                Upload From CSV
            </button>
            <button type="button" class="btn btn-primary createTransactionBtn">
                <i class="bi bi-plus-circle me-1"></i>
                New transaction
            </button>
        </div>
        {% include 'transactions/create_transaction_modal.twig' %}
        {% include 'transactions/edit_transaction_modal.twig' %}
        {% include 'transactions/upload_receipts_modal.twig' %}
        {% include 'transactions/upload_transactions_from_csv_modal.twig' %}
        <div>
            <table id="transactionsTable">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Receipts</th>
{#                    <th>Created at</th>#}
{#                    <th>Updated at</th>#}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}